<!-- Animate.css -->
	<link rel="stylesheet" href="../../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../../css/superfish.css">

	<link rel="stylesheet" href="../../css/style.css">


	<!-- Modernizr JS -->
	<script src="../../js/modernizr-2.6.2.min.js"></script>



<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="index.html">Logo</a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li class="active">
									<a href="../">Inicio</a>
								</li>
								<li>
									<a href="" class="fh5co-sub-ddown">Platino</a>
									<ul class="fh5co-sub-menu">
										<li><a href="../welcome/catalogo" >Catálogo</a></li>
										<li><a href="../welcome/diseno" target="_blank">Diseño</a></li>
										<li><a href="../welcome/corte" target="_blank">Corte</a></li>
										<li><a href="../welcome/planta" target="_blank">Planta</a></li>
										<li><a href="../welcome/lavanderia" target="_blank">Lavandería</a></li>
										<li><a href="../welcome/terminacion" target="_blank">Terminación</a></li>
									</ul>
								</li>
								<li>
									<a href="" class="fh5co-sub-ddown">Menú</a>
									 <ul class="fh5co-sub-menu">
									 	<li><a href="left-sidebar.html">Inicio de sesión</a></li>
									 	<li><a href="right-sidebar.html">Branding &amp; Identity</a></li>
										<li>
											<a href="#" class="fh5co-sub-ddown">Free HTML5</a>
											<ul class="fh5co-sub-menu">
												<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">Build</a></li>
												<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap" target="_blank">Work</a></li>
												<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap" target="_blank">Light</a></li>
												<li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap" target="_blank">Relic</a></li>
												<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
												<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
											</ul>
										</li>
										<li><a href="#">UI Animation</a></li>
										<li><a href="#">Copywriting</a></li>
										<li><a href="#">Photography</a></li> 
									</ul>
								</li>
								<li><a href="../contacto/contact">Contacto</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
		</div>



<div class="container">  
    <div class="grid">
        <br>
        <br>
        <div class="col-md-4"></div>
        <div class="col-md-4 col-xs-12">
            <%= form_tag '/autenticar', class: "form-signin" do %>
               <h2 class="form-signin-heading">Inicio de sesión</h2>
                <label for="inputEmail" class="sr-only">Correo</label>
                <%= email_field_tag 'inputEmail', nil, class: 'form-control', placeholder: "Correo electrónico", required: 'true' %> 
                <label for="inputPassword" class="sr-only">Clave</label>
                <%= password_field_tag 'inputPassword', nil, class: 'form-control', placeholder: "Clave", required: 'true' %>
                <br>
                <%= submit_tag 'Entrar', class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
        </div>
        <div class="col-md-4"></div>
    </div>
    
    </div>
<div class="container">
    <div class = "grid">
         <br>
        <br>
         <br>
        <br>    
        <div class="col-md-4"></div>
             <div class="col-md-4 col-xs-12">
                <span><a class="btn btn-primary btn-lg" href="../usuarios/new">Crear nuevo usuario</a></span>
            </div>
        
        </div>
    </div>